* {
  margin: 0;
  padding: 0;
}

.App {
  margin-top: 20px;
  font-family: sans-serif;
  text-align: center;
}

body {
  /* display: grid;
  grid-template-areas:
  "sky"
  "grass"
  "dirt"; */
  grid-template-columns: 1fr, 1fr, 20fr;
  background-image: url("mcbackground.png");
  background-repeat: repeat;

}
img{
    width: 315px;
    height: 275px;
  margin: 0 auto;
}


@media (min-width: 1200px) {
  html {
    zoom: 0.8; /* Adjust the zoom level as needed */
  }
}
