* {
  margin: 0;
  padding: 0;
}

.App {
  margin-top: 20px;
  font-family: sans-serif;
  text-align: center;
}

body {
  grid-template-columns: 1fr, 1fr, 20fr;
  background-image: url("mcbackground.png");
  background-repeat: repeat;
}


@media (min-width: 1200px) {
  html {
    zoom: 0.8;
  }
}
