* {
  margin: 0;
  padding: 0;
}

.App {
  margin-top: 20px;
  font-family: sans-serif;
  text-align: center;
}

body {
  background-image: url("https://static.planetminecraft.com/files/image/minecraft/texture-pack/2020/422/13738812-dirt_l.webp");
  background-repeat: repeat;
}

@media (min-width: 1200px) {
  html {
    zoom: 0.8; /* Adjust the zoom level as needed */
  }
}
